In [0]:
#2.Using spark sql Transformations such as Filter, Join, Simple Aggregations, GroupBy on the case study dataset

In [0]:
from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder.appName("CreditCardAnalysis").getOrCreate()

# Load dataset
credit_card_df = spark.read.csv("/FileStore/tables/credit_card-1.csv", header=True, inferSchema=True)
new_credit=spark.read.csv("/FileStore/tables/book.csv", header=True, inferSchema=True)

# Create a temporary SQL view
credit_card_df.createOrReplaceTempView("credit_card")
new_credit.createOrReplaceTempView("new")

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+

In [0]:
# 1.Using FIlter

# 1. Filter transactions where credit score is above 830
spark.sql("SELECT * FROM credit_card WHERE CreditScore > 830").show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        5|  15737888|  Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|       25|  15625047|       Yen|        846|   France|Female| 38|     5|      0.0|            1|             1|      187616.16|     0|
|       39|  15717426| Armstrong|        850|   France|  Male| 36|     7|      0.0|            1|             1|        40812.9|     0|
|       44|  15755196|    Lavine|        834|   France|Female| 49|     2|131394.56|            1|             0|      194365.76|     1|
|      181|  15716334|    Rozier|        850|    Spain|Female| 45|     2|122311.21|            1|             1|        19482.5|     0|
|      201|  15604482| Chiemezie|        850|    Spain|  Male| 30|     2|141040.01|            1|             1|         5978.2|     0|
|      224|  15733247| Stevenson|        850|   France|  Male| 33|    10|      0.0|            1|             0|        4861.72|     1|
|      260|  15607178|     Welch|        850|  Germany|  Male| 38|     3| 54901.01|            1|             1|      140075.55|     0|
|      346|  15763859|     Brown|        840|   France|Female| 43|     7|      0.0|            2|             0|       90908.95|     0|
|      357|  15611759|   Simmons|        850|    Spain|Female| 57|     8| 126776.3|            2|             1|      132298.49|     0|
|      412|  15760431|      Pino|        850|   France|  Male| 38|     1|      0.0|            2|             1|       80006.65|     0|
|      452|  15785798|Uchechukwu|        850|   France|  Male| 40|     9|      0.0|            2|             1|      119232.33|     0|
|      467|  15663252| Olisanugo|        850|    Spain|Female| 32|     9|      0.0|            2|             1|       18924.92|     0|
|      521|  15671256| Macartney|        850|   France|Female| 35|     1|211774.31|            1|             0|      188574.12|     1|
|      522|  15653547|   Madukwe|        850|   France|  Male| 56|     7|131317.48|            1|             1|      119175.45|     0|
|      541|  15667896|   De Luca|        833|   France|  Male| 37|     8|151226.18|            2|             1|      136129.49|     0|
|      546|  15615457|     Burns|        842|    Spain|Female| 44|     2|112652.08|            2|             0|      126644.98|     0|
|      560|  15571816|   Ritchie|        850|    Spain|Female| 70|     5|      0.0|            1|             1|         705.18|     0|
|      575|  15644753|      Hung|        848|    Spain|  Male| 40|     3|110929.96|            1|             1|       30876.84|     0|
|      626|  15604119|  Alderete|        850|    Spain|  Male| 35|     7|110349.82|            1|             0|       126355.8|     0|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|  Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|      Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|      Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|      Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|  Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        8|  15656148|    Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|       13|  15632264|       Kay|        476|   France|Female| 34|    10|      0.0|            2|             0|       26260.98|     0|
|       14|  15691483|      Chin|        549|   France|Female| 25|     5|      0.0|            2|             0|      190857.79|     0|
|       15|  15600882|     Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|       18|  15788218| Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|       20|  15568982|       Hao|        726|   France|Female| 24|     6|      0.0|            2|             1|       54724.03|     0|
|       22|  15597945|  Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|             0|      138555.46|     0|
|       23|  15699309| Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|             0|      118913.53|     1|
|       25|  15625047|       Yen|        846|   France|Female| 38|     5|      0.0|            1|             1|      187616.16|     0|
|       29|  15728693|McWilliams|        574|  Germany|Female| 43|     3|141349.43|            1|             1|      100187.43|     0|
|       31|  15589475|   Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|             0|      140469.38|     1|
|       34|  15659428|   Maggard|        520|    Spain|Female| 42|     6|      0.0|            2|             1|       34410.55|     0|
|       35|  15732963|  Clements|        722|    Spain|Female| 29|     9|      0.0|            2|             1|      142033.07|     0|
|       36|  15794171|  Lombardo|        475|   France|Female| 45|     0|134264.04|            1|             0|       27822.99|     1|
|       42|  15738148|    Clarke|        465|   France|Female| 51|     8|122522.32|            1|             0|      181297.65|     1|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [0]:
# 2. FIlter for female customer

spark.sql("SELECT * FROM credit_card WHERE Gender = 'Female'").show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|  Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|      Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|      Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|      Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|  Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        8|  15656148|    Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|       13|  15632264|       Kay|        476|   France|Female| 34|    10|      0.0|            2|             0|       26260.98|     0|
|       14|  15691483|      Chin|        549|   France|Female| 25|     5|      0.0|            2|             0|      190857.79|     0|
|       15|  15600882|     Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|       18|  15788218| Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|       20|  15568982|       Hao|        726|   France|Female| 24|     6|      0.0|            2|             1|       54724.03|     0|
|       22|  15597945|  Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|             0|      138555.46|     0|
|       23|  15699309| Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|             0|      118913.53|     1|
|       25|  15625047|       Yen|        846|   France|Female| 38|     5|      0.0|            1|             1|      187616.16|     0|
|       29|  15728693|McWilliams|        574|  Germany|Female| 43|     3|141349.43|            1|             1|      100187.43|     0|
|       31|  15589475|   Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|             0|      140469.38|     1|
|       34|  15659428|   Maggard|        520|    Spain|Female| 42|     6|      0.0|            2|             1|       34410.55|     0|
|       35|  15732963|  Clements|        722|    Spain|Female| 29|     9|      0.0|            2|             1|      142033.07|     0|
|       36|  15794171|  Lombardo|        475|   France|Female| 45|     0|134264.04|            1|             0|       27822.99|     1|
|       42|  15738148|    Clarke|        465|   France|Female| 51|     8|122522.32|            1|             0|      181297.65|     1|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [0]:
# 2.Using joins
# 1. Inner join on customer_id

spark.sql("""
    SELECT cc.*
    FROM credit_card cc
    INNER JOIN new n
    ON n.CustomerId = cc.CustomerId
""").show(5)


# 2. Outer join on customer_id
spark.sql("""
    SELECT cc.*
    FROM credit_card cc
    full OUTER JOIN new n
    ON n.CustomerId = cc.CustomerId
""").show(5)

# 3.Left join
spark.sql("""
    SELECT cc.*
    FROM credit_card cc
    left JOIN new n
    ON n.CustomerId = cc.CustomerId
""").show(5)

# Right join
spark.sql("""
    SELECT cc.*
    FROM credit_card cc
    Right JOIN new n
    ON n.CustomerId = cc.CustomerId
""").show(5)

#Left Anti join
spark.sql("""
    SELECT cc.*
    FROM credit_card cc
    LEFT ANTI JOIN new n
    ON n.CustomerId = cc.CustomerId
""").show(5)

#left semi join
spark.sql("""
    SELECT cc.*
    FROM credit_card cc
    LEFT SEMI JOIN new n
    ON n.CustomerId = cc.CustomerId
""").show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|     1288|  15565701|   Ferri|        698|    Spain|Female| 39|     9|161993.89|            1|             0|       90212.38|     0|
|     4199|  15565706|Akobundu|        612|    Spain|  Male| 35|     1|      0.0|            1|             1|       83256.26|     1|
|     7091|  15565714|Cattaneo|        601|   France|  Male| 47|     1| 64430.06|            2|             1|       96517.97|     0|
|     2021|  15565779|    Kent|        627|  Germany|Female| 30|     6| 57809.32|            1|             0|      188258.49|     0|
|     3698|  15565796|Docherty|        745|  Germany|  Male| 48|    10| 96048.55|            1|             0|       74510.65|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 5 rows

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 5 rows

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        6|  15574012|     Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|        7|  15592531|Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|        8|  15656148|  Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|        9|  15792365|      He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       10|  15592389|      H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 5 rows

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+

In [0]:
# Using Simple Aggregations
# 1. Total Balance Amount
spark.sql("SELECT SUM(Balance) AS total_amount FROM credit_card").show()

#2.Average of Balance amount
spark.sql("SELECT avg(Balance) AS Average FROM credit_card").show()

+-------------------+
|       total_amount|
+-------------------+
|7.648588928799961E8|
+-------------------+

+-----------------+
|          Average|
+-----------------+
|76485.88928799961|
+-----------------+

In [0]:
# Using group by
# 2. Average transaction amount by region
spark.sql("""
    SELECT Geography, AVG(Balance) AS avg_spent
    FROM credit_card
    GROUP BY Geography
""").show()

+---------+------------------+
|Geography|         avg_spent|
+---------+------------------+
|  Germany|119730.11613391782|
|   France|  62092.6365157559|
|    Spain| 61818.14776342349|
+---------+------------------+

**Pyspark Implementation**

In [0]:
from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder \
    .appName("Credit Card Analysis") \
    .getOrCreate()

# Load the dataset
file_path = '/FileStore/tables/credit_card-1.csv'  
credit_df = spark.read.csv(file_path, header=True, inferSchema=True)

filenew = '/FileStore/tables/book.csv'
new_df=spark.read.csv(filenew, header=True, inferSchema=True)

In [0]:
# Filter transactions where CreditScore > 830 using DataFrame API
filtered_df = credit_df.filter(credit_df["CreditScore"] > 830)

# Show the results
filtered_df.show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        5|  15737888|  Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|       25|  15625047|       Yen|        846|   France|Female| 38|     5|      0.0|            1|             1|      187616.16|     0|
|       39|  15717426| Armstrong|        850|   France|  Male| 36|     7|      0.0|            1|             1|        40812.9|     0|
|       44|  15755196|    Lavine|        834|   France|Female| 49|     2|131394.56|            1|             0|      194365.76|     1|
|      181|  15716334|    Rozier|        850|    Spain|Female| 45|     2|122311.21|            1|             1|        19482.5|     0|
|      201|  15604482| Chiemezie|        850|    Spain|  Male| 30|     2|141040.01|            1|             1|         5978.2|     0|
|      224|  15733247| Stevenson|        850|   France|  Male| 33|    10|      0.0|            1|             0|        4861.72|     1|
|      260|  15607178|     Welch|        850|  Germany|  Male| 38|     3| 54901.01|            1|             1|      140075.55|     0|
|      346|  15763859|     Brown|        840|   France|Female| 43|     7|      0.0|            2|             0|       90908.95|     0|
|      357|  15611759|   Simmons|        850|    Spain|Female| 57|     8| 126776.3|            2|             1|      132298.49|     0|
|      412|  15760431|      Pino|        850|   France|  Male| 38|     1|      0.0|            2|             1|       80006.65|     0|
|      452|  15785798|Uchechukwu|        850|   France|  Male| 40|     9|      0.0|            2|             1|      119232.33|     0|
|      467|  15663252| Olisanugo|        850|    Spain|Female| 32|     9|      0.0|            2|             1|       18924.92|     0|
|      521|  15671256| Macartney|        850|   France|Female| 35|     1|211774.31|            1|             0|      188574.12|     1|
|      522|  15653547|   Madukwe|        850|   France|  Male| 56|     7|131317.48|            1|             1|      119175.45|     0|
|      541|  15667896|   De Luca|        833|   France|  Male| 37|     8|151226.18|            2|             1|      136129.49|     0|
|      546|  15615457|     Burns|        842|    Spain|Female| 44|     2|112652.08|            2|             0|      126644.98|     0|
|      560|  15571816|   Ritchie|        850|    Spain|Female| 70|     5|      0.0|            1|             1|         705.18|     0|
|      575|  15644753|      Hung|        848|    Spain|  Male| 40|     3|110929.96|            1|             1|       30876.84|     0|
|      626|  15604119|  Alderete|        850|    Spain|  Male| 35|     7|110349.82|            1|             0|       126355.8|     0|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [0]:
# Filter for female customers using DataFrame API
female_customers_df = credit_df.filter(credit_df["Gender"] == "Female")

# Show the results
female_customers_df.show()

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|  Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|      Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|      Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|      Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|  Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
|        8|  15656148|    Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|       13|  15632264|       Kay|        476|   France|Female| 34|    10|      0.0|            2|             0|       26260.98|     0|
|       14|  15691483|      Chin|        549|   France|Female| 25|     5|      0.0|            2|             0|      190857.79|     0|
|       15|  15600882|     Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|       18|  15788218| Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|       20|  15568982|       Hao|        726|   France|Female| 24|     6|      0.0|            2|             1|       54724.03|     0|
|       22|  15597945|  Dellucci|        636|    Spain|Female| 32|     8|      0.0|            2|             0|      138555.46|     0|
|       23|  15699309| Gerasimov|        510|    Spain|Female| 38|     4|      0.0|            1|             0|      118913.53|     1|
|       25|  15625047|       Yen|        846|   France|Female| 38|     5|      0.0|            1|             1|      187616.16|     0|
|       29|  15728693|McWilliams|        574|  Germany|Female| 43|     3|141349.43|            1|             1|      100187.43|     0|
|       31|  15589475|   Azikiwe|        591|    Spain|Female| 39|     3|      0.0|            3|             0|      140469.38|     1|
|       34|  15659428|   Maggard|        520|    Spain|Female| 42|     6|      0.0|            2|             1|       34410.55|     0|
|       35|  15732963|  Clements|        722|    Spain|Female| 29|     9|      0.0|            2|             1|      142033.07|     0|
|       36|  15794171|  Lombardo|        475|   France|Female| 45|     0|134264.04|            1|             0|       27822.99|     1|
|       42|  15738148|    Clarke|        465|   France|Female| 51|     8|122522.32|            1|             0|      181297.65|     1|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import sum, avg
# 1. Total Balance Amount
total_balance = credit_df.agg(sum("Balance").alias("TotalBalance"))
total_balance.show()

# 2. Average of Balance Amount
average_balance = credit_df.agg(avg("Balance").alias("AverageBalance"))
average_balance.show()

+-------------------+
|       TotalBalance|
+-------------------+
|7.648588928799961E8|
+-------------------+

+-----------------+
|   AverageBalance|
+-----------------+
|76485.88928799961|
+-----------------+

In [0]:
# Group by Geography and calculate the average transaction amount using DataFrame API
avg_transaction_by_region = credit_df.groupBy("Geography").avg("Balance").alias("avg_spent"))

# Show the results
avg_transaction_by_region.show()

+---------+------------------+
|Geography|      avg(Balance)|
+---------+------------------+
|  Germany|119730.11613391782|
|   France|  62092.6365157559|
|    Spain| 61818.14776342349|
+---------+------------------+

In [0]:
#Joins
joined_df = credit_df.join(new_df, credit_df["CustomerId"] == new_df["CustomerId"], "inner").show()
joined_df = credit_df.join(new_df, credit_df["CustomerId"] == new_df["CustomerId"], "outer").show()
joined_df = credit_df.join(new_df, credit_df["CustomerId"] == new_df["CustomerId"], "left").show()
joined_df = credit_df.join(new_df, credit_df["CustomerId"] == new_df["CustomerId"], "right").show()
joined_df = credit_df.join(new_df, credit_df["CustomerId"] == new_df["CustomerId"], "leftanti").show()
joined_df = credit_df.join(new_df, credit_df["CustomerId"] == new_df["CustomerId"], "leftsemi").show()

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+

+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+-------+-----------+---------+------+----+------+-------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|   Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|RowNumber|CustomerId|Surname|CreditScore|Geography|Gender| Age|Tenure|Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+-------+-----------+---------+------+----+------+-------+-------------+--------------+---------------+------+
|     1288|  15565701|     Ferri|        698|    Spain|Female| 39|     9|161993.89|            1|             0|       90212.38|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     4199|  15565706|  Akobundu|        612|    Spain|  Male| 35|     1|      0.0|            1|             1|       83256.26|     1|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     7091|  15565714|  Cattaneo|        601|   France|  Male| 47|     1| 64430.06|            2|             1|       96517.97|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     2021|  15565779|      Kent|        627|  Germany|Female| 30|     6| 57809.32|            1|             0|      188258.49|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     3698|  15565796|  Docherty|        745|  Germany|  Male| 48|    10| 96048.55|            1|             0|       74510.65|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     3417|  15565806|    Toosey|        532|   France|  Male| 38|     9|      0.0|            2|             0|       30583.95|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     6882|  15565878|     Bates|        631|    Spain|  Male| 29|     3|      0.0|            2|             1|      197963.46|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     9515|  15565879|     Riley|        845|   France|Female| 28|     9|      0.0|            2|             1|       56185.98|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     5796|  15565891|  Dipietro|        709|   France|  Male| 39|     8|      0.0|            2|             0|       56214.09|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     7187|  15565996|    Arnold|        653|   France|  Male| 44|     8|      0.0|            2|             1|      154639.72|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     6476|  15566030|        Tu|        497|  Germany|  Male| 41|     5| 80542.81|            1|             0|       88729.22|     1|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|      913|  15566091|   Thomsen|        545|    Spain|Female| 32|     4|      0.0|            1|             0|        94739.2|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|      425|  15566111|     Estes|        596|   France|  Male| 39|     9|      0.0|            1|             0|       48963.59|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     9632|  15566139|     Ts'ui|        526|   France|Female| 37|     5| 53573.18|            1|             0|       62830.97|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|      982|  15566156|  Franklin|        749|  Germany|Female| 44|     0| 71497.79|            2|             0|       151083.8|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     1463|  15566211|       Hsu|        616|  Germany|Female| 41|     1|103560.57|            1|             0|         236.45|     1|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     1141|  15566251|   Ferrari|        618|   France|Female| 37|     5| 96652.86|            1|             0|        98686.4|     1|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     5425|  15566253|   Manning|        580|  Germany|  Male| 44|     9|143391.07|            1|             0|      146891.07|     1|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|     5345|  15566269|  Chialuka|        787|   France|  Male| 25|     5|      0.0|            2|             0|        47307.9|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
|      704|  15566292|Okwuadigbo|        574|    Spain|  Male| 36|     1|      0.0|            2|             1|       71709.12|     0|     null|      null|   null|       null|     null|  null|null|  null|   null|         null|          null|           null|  null|
+---------+----------+----------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+-------+-----------+---------+------+----+------+-------+-------------+--------------+---------------+------+
only showing top 20 rows

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+--------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender| Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+--------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|        1|  15634602|Hargrave|        619|   France|Female|  42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|        2|  15647311|    Hill|        608|    Spain|Female|  41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|        3|  15619304|    Onio|        502|   France|Female|  42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|        4|  15701354|    Boni|        699|   France|Female|  39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|        5|  15737888|Mitchell|        850|    Spain|Female|  43|     2|125510.82|            1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|             0|       80181.12|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|             0|       26260.98|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|             0|      190857.79|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|             0|        5097.67|     1|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|             0|      158684.81|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|             1|       54724.03|     0|     null|      null|    null|       null|     null|  null|null|  null|     null|         null|          null|           null|  null|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+--------+-----------+---------+------+----+------+---------+-------------+--------------+---------------+------+
only showing top 20 rows

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|             0|      158684.81|     0|